@model CommentStuff

<div class="card smolCard mb-3">
    <div class="card-header">
        <form asp-controller="myPage" asp-action="OtherPage" method="get">
            <input name="userID" type="hidden" value="@Model.comment.userID" />
            <button type="submit">@Model.userName</button>
        </form>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.comment.message</p>
    </div>
</div>