@model MyPage

<form asp-controller="myPage" asp-action="OtherPage" method="get">
    <input name="userID" type="hidden" value="@Model.userID" />
    <button type="submit">@Model.userName</button>
</form>