@model MyPageImage

<h1>Edit MyPage</h1>

<div class="card mb-3">
    <h3 class="card-header">Edit Your Page</h3>
    <form asp-controller="myPage" asp-action="EditMyPage" method="post">
        <div class="card-body">
            <span>Image</span>
            <select asp-for="@Model.myPages.pictureID" asp-items="@Model.Images"></select>
        </div>
        <div class="card-body">
            <span>About Me</span>
            <textarea asp-for="@Model.myPages.aboutMe" rows="4"></textarea>
        </div>
        <div class="card-body">
            <button type="submit" class="btn-primary">Edit</button>
        </div>
    </form>
</div>
