@model MyPage

<div class="card mb-3 smolCard">
    <h3 class="card-header">MyPage</h3>
    <div class="card-body align-content-center">
        <img class="profileIcon" src="@ViewBag.Image" />
    </div>
    <p>@Html.Raw(Model.aboutMe)</p>
</div>