@model MyPage

<div class="card mb-3">
    <h3 class="card-header">MyPage</h3>
    <img src="@ViewBag.Image" />
    <div class="card-body">
        <p class="card-text">@Model.aboutMe</p>
    </div>
</div>