@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the site!</p>
    <p>It seems that you aren't logged in. <a class="link" asp-area="Identity" asp-page="/Account/Register">Register</a>.</p>
</div>
